@import "../../../shared/variables.scss";

.invoice-container {
  margin-left: -6px;
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #0f172a;
}

.filter-section {
//   background: #ffffff;
  border-radius: $curve;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(136, 165, 191, 0.25) 0px 4px 12px,
    rgba(255, 255, 255, 0.8) 0px -4px 12px 0px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 600;
      color: black;
    }

    .add-btn {
      background-color: #075985;
      color: white;
      border-radius: 8px;
      border: none;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0e7490;
      }
    }
  }

  .filter-bar {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    p-autocomplete {
      width: 180px;
    }

    p-button {
      height: 40px;
    }
  }
}

.invoice-table {
//   background: #ffffff;
  padding: 1.5rem;
  border-radius: $curve;
  box-shadow: rgba(136, 165, 191, 0.25) 0px 4px 12px,
    rgba(255, 255, 255, 0.8) 0px -4px 12px 0px;

  h3 {
    margin-bottom: 1rem;
    color: #075985;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .no-data {
    text-align: center;
    padding: 2rem;
    color: #64748b;
    font-style: italic;
  }

  ::ng-deep .p-paginator {
    margin-top: 1rem;
    background-color: transparent;
  }
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 2rem;
}

#amount {
  width: 100%;
  height: 42px;
  border-radius: $curve;
}

