<div class="notice-container">
  <div class="filter-section">
    <div class="header">
      <h2>Society Notices</h2>
      @if (!isResident) {
        <p-button
          icon="pi pi-plus"
          pTooltip="Issue Notice"
          tooltipPosition="left"
          class="add-btn"
          (onClick)="showDialog()"
        ></p-button>
      }
    </div>

    <div class="filter-bar">
      <p-autocomplete
        [(ngModel)]="selectedMonth"
        [virtualScroll]="true"
        [suggestions]="filteredMonths"
        [virtualScrollItemSize]="34"
        (completeMethod)="filterMonths($event)"
        optionLabel="label"
        [dropdown]="true"
        scrollHeight="78px"
        placeholder="Select Month"
        [forceSelection]="true"
      ></p-autocomplete>

      <p-autocomplete
        [(ngModel)]="selectedYear"
        [virtualScroll]="true"
        [suggestions]="filteredYears"
        [virtualScrollItemSize]="34"
        (completeMethod)="filterYears($event)"
        optionLabel="label"
        [dropdown]="true"
        scrollHeight="39px"
        placeholder="Select Year"
        [forceSelection]="true"
      ></p-autocomplete>

      <p-button
        [disabled]="selectedMonth != '' && selectedYear == ''"
        pTooltip="Search Notices"
        icon="pi pi-search"
        (onClick)="searchNotice()"
      ></p-button>
    </div>
  </div>

  <div class="card notice-list-wrapper">
  <h3>All Notices</h3>

  <div
    class="notice-list"
    *ngIf="societyNotices.data.length > 0; else noNotices"
  >
    <div
      class="notice-card"
      *ngFor="let notice of societyNotices.data"
    >
      <div class="notice-header">
        <span class="date">
          {{ notice.date_issued | date: 'mediumDate' }}
        </span>
      </div>

      <div class="notice-content">
        {{ notice.content }}
      </div>
    </div>
  </div>

  <ng-template #noNotices>
    <div class="no-data">
      <p>No notices available right now.</p>
    </div>
  </ng-template>
</div>

  <p-dialog
    header="Issue Notice"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
  <span class="p-text-secondary block mb-3">Enter the notice content below:</span>
  <br><br>

    <textarea
      pInputTextarea
      placeholder="Max 500 characters..."
      rows="5"
      maxlength="500"
      [(ngModel)]="content"
      autoResize="true"
    ></textarea>

    <div class="dialog-buttons">
      <p-button
        label="Cancel"
        severity="contrast"
        (onClick)="hideDialog()"
      ></p-button>
      <p-button
        label="Issue"
        [disabled]="!content"
        (onClick)="issueNotice()"
      ></p-button>
    </div>
  </p-dialog>

  @if (isFetching()) {
    <app-loader></app-loader>
  }
</div>

<p-toast/>