@import "../../../shared/variables.scss";

.requests-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-left: $left-space;
  margin-top: 30px;
}

.request-card {
    width: 1fr;
  border: 1px solid $background-theme;
  border-radius: $curve;
  padding: 1.2rem;
  background: #ffffff;
  box-shadow:
    rgba(136, 165, 191, 0.3) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.7) -6px -2px 16px 0px;
  transition: all 0.3s ease;
  cursor: default;

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 1.1rem;
      color: #333;
      margin: 0;
      font-weight: 600;
    }

    .count ::ng-deep .p-avatar {
      background-color: #007ad9;
      color: white;
      font-weight: bold;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.p-error{
    color: red;
}

h3{
    margin-left: 12px;
    margin-top: 30px;
}

.filter-requests{
    margin-top: 22px;
    margin-left: $left-space;
    width: fit-content;
    height: 160px;
    border-radius: $curve;
    padding: 1%;
    border: 1px solid $background-theme;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.bar{
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.table{
    margin-left: $left-space;
    width: $table-width;
}

.total-count{
    margin-top: 20px;
    margin-left: 100px;
    font-size: larger;
    font-weight: bold;
}

.pending-count{
    margin-top: 20px;
    margin-left: 75px;
    font-size: larger;
    font-weight: bold;
}

.approved-count{
    margin-top: 20px;
    margin-left: 60px;
    font-size: larger;
    font-weight: bold;
}

.actions{
    display: flex;
    gap: 8px;
}

.buttons{
    display: flex;
    gap: 8px;
    justify-content: right;
}

.app{
    border-radius: 14px;
    width: 100px;
    background-color: #adeaad;
    color: darkgreen;
    text-align: center;
    padding: 4px;
}

.pen{
    border-radius: 14px;
    width: 100px;
    text-align: center;
    padding: 4px;
    background-color: #f8c6d7;
    color: #c61230;
}

.comp{
    border-radius: 14px;
    width: 120px;
    text-align: center;
    padding: 4px;
    background-color: #e5dfe1;
    color: #6c6868;
}

.requestcount{
    font-weight: bold;
}