@import "../shared/variables.scss";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white; // or your nav background
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: $background-sidebar;
  position: fixed;
  top: 84px; // height of nav, adjust as needed
  left: 0;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.dashboard-content {
  overflow: auto;
  margin-left: 250px;
  padding-top: 74px; // height of nav
  min-height: calc(100vh - 20px);
  background-image: url('../../../public/projectPagesBackground.jpg');
  background-size: cover;
}

h3 {
  margin-left: 6px;
}

.logout {
  background-color: transparent;
  color: red;
  transition: all 0.3s ease;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid red;
}

.logout:hover {
  background-color: red;
  color: white;
}